PORT=8000
DATABASE_URL=postgresql://postgres:password@localhost:5432/cronMaster
DATABASE_URI=postgresql://postgres:password@localhost:5432/cronMaster
REDIS_URL=redis://localhost:6379
REDIS_URI=redis://localhost:6379
